.guest-container {
  /* display: flex;
  flex-direction: column; */
  /* width: 100vw; */
  /* justify-content: space-between; */
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}

.header {
  height: 50px;
  border-bottom: 1px solid red;
}
.header-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid rgba(136, 136, 136, 0.4);
}

.footer {
  border: 1px solid blue;
  height: 60px;
}
